package view

import "github.com/iagrant/friend-cal-app/data"

templ ThanksPage(user *data.User) {
	@layout("Thanks for Voting!", user) {
		<h1>Thank You! ✅</h1>
		<p>Your vote has been recorded.</p>
		<p><a href="/">Create your own event? 👉👈</a></p>
	}
}